---

---

<nav class="fixed top-0 w-full z-50 bg-background/80 backdrop-blur-xl">
    <div class="flex justify-between items-center px-8 py-4 max-w-7xl mx-auto">
        <a class="text-2xl font-bold font-headline text-primary" href="#"
            >The Veiled Pages</a
        >
        <div
            class="hidden md:flex items-center gap-8 font-headline italic tracking-tight"
        >
            <a
                class="text-on-surface-variant hover:text-primary hover:opacity-80 transition-all duration-300"
                href="#">Posts</a
            >
            <a
                class="text-primary border-b border-primary pb-1 hover:opacity-80 transition-all duration-300"
                href="#">Categories</a
            >
            <a
                class="text-on-surface-variant hover:text-primary hover:opacity-80 transition-all duration-300"
                href="#">Journal</a
            >
            <a
                class="text-on-surface-variant hover:text-primary hover:opacity-80 transition-all duration-300"
                href="#">About</a
            >
        </div>
        <div class="flex items-center gap-4">
            <button
                class="material-symbols-outlined text-primary hover:opacity-80 transition-opacity"
                >menu</button
            >
        </div>
    </div>
</nav>
